body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: #2d3642;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Increased width to accommodate both sections */
  width: 100%;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #282c34;
  padding: 2px;
  color: white;
  text-align: center;
  border-radius: 2px 2px 0 0;
}

.footer {
  background-color: #183374;
  padding: 6px;
  color: white;
  text-align: center;
  border-radius: 2px 2px 0 0;
}

.App-content {
  padding: 20px;
  padding-bottom: 60px; /* Add padding to avoid overlap with fixed footer */
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #f7fbfc;
}

.upload-section, .data-section {
  /* width: 100%; */
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.upload-section h3, .data-section h3 {
  margin-bottom: 10px;
}

input[type="file"] {
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #0c1314;
  border-radius: 4px;
  cursor: pointer;
}

button {
  background-color: #111111;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #0a0d0f;
  transform: translateY(-2px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #0c0808;
  text-align: left;
}

th {
  background-color: #f4f4f9;
}

td input {
  width: 100%;
  padding: 8px;
  border: 1px solid #0e0d0d;
  border-radius: 4px;
}

pre {
  text-align: left;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}
